/* 
licence : ISC
author : educlick comm
see more on /licence.txt
*/
.fixed-top {
top: 0px;
left: 0px;
position: fixed;
}
.fixed-bottom {
bottom: 0px;
left: 0px;
position: fixed;
}
.fixed-top-r {
top: 0px;
right: 0px;
position: fixed;
}
.fixed-bottom-r {
bottom: 0px;
right: 0px;
position: fixed;
}
.z-index-max {z-index: 999;}
.z-index-md {z-index: 100;}
.z-index {z-index: 1;}
