/* 
licence : ISC
author : educlick comm
see more on /licence.txt
*/
.container {
width: 60%;
}
.container-fluid {
width: 100%;
box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
.container {
width: 100%;
box-sizing: border-box;
}
}